<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moon.moonchat.dao.UserDao">
    <resultMap id="baseResultMap" type="com.moon.moonchat.entity.User">
        <id column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="VARCHAR"/>
        <result column="lastTime" property="lastTime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUser" parameterType="com.moon.moonchat.entity.User" resultType="com.moon.moonchat.entity.User">
        select uid, password, nickname, avatar, sex, createDate, loginTime from moonchat.user
        where uid=#{uid} and password=#{password} and deleted=false
    </select>

    <insert id="saveUser" parameterType="com.moon.moonchat.entity.User">
        insert into moonchat.user (uid, password, nickname)
        values (#{uid}, #{password}, #{nickname})
    </insert>

    <delete id="deleteUser">
        update moonchat.user set deleted=true where uid=#{uid}
    </delete>

    <update id="updateUser" parameterType="com.moon.moonchat.entity.User">
        update moonchat.user
        <set>
            <if test="#{nickname}!=null">nickname=#{nickname},</if>
            <if test="#{sex}!=null">sex=#{sex},</if>
            <if test="#{avatar}!=null">avatar=#{avatar}</if>
        </set>
        where uid=#{uid} and deleted=false
    </update>

    <select id="selectFriend" resultType="com.moon.moonchat.entity.User">
        select uid, nickname, avatar, sex, createDate, lastTime from moonchat.user
        where uid=#{uid} and deleted=false
    </select>

    <select id="findUid" resultType="com.moon.moonchat.entity.User">
        select uid from moonchat.user
        where uid = #{uid} and deleted = false
    </select>
</mapper>